body{
    margin: 0%;
}
.container{
    width: 100%;
    height:100vh;
    background-image:url("images/background.png.png");
    background-position: center;
    background-size:cover;
}
.nav{
     height: 15%;
     align-items: center;
     display:flex;
     padding-left: 50px;
     padding-top: 10px;
}
.nav ul li{
    display:inline-block;
    padding: 20px;
    cursor: pointer;
}
.cart{
    width: 50px;
    padding-left: 300px;
    cursor: pointer;
}
.content{
    font-size:medium;
    font-weight: 100;
    padding-top: 2px;
    padding-bottom: 2px;

}
.content h1{
    color:red;
}
.content p{
    color:darkred;
}
.content{
    margin-top: 5%;
    margin-left: 15%;
}
.arrow{
    margin-top: 10px;
    display: flex;
}
.arrow img{
    margin-right: 30px;
    width: 40px;
}
.img{
    width: 550px;
    position:absolute;
    bottom: 0;
    right: 5px;
}